@charset "UTF-8";
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --font-color-primary: hsl(0, 0%, 100%);
    --font-color-secondary: hsl(228, 34%, 66%);
    --bg-color: hsl(230, 17%, 14%);
    --card-color: hsl(228, 28%, 20%);
    --card-color-rover: hsl(228, 28%, 30%);
    --font-color-switch: hsl(0, 0%, 100%);
    --font-color-link: hsl(228, 63%, 64%);
}

[data-theme="light"] {
    --font-color-primary: hsl(230, 17%, 14%);
    --font-color-secondary: hsl(228, 12%, 44%);
    --bg-color: hsl(0, 0%, 100%);
    --card-color: hsl(227, 47%, 96%);
    --card-color-rover: hsl(232, 33%, 91%);
    --font-color-switch: hsl(228, 12%, 44%);
    --font-color-link: hsl(228, 57%, 44%);
}

body {
	font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color-primary);
}

p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 97%;
    max-width: 1200px;
    float: none;
    margin: 0 auto;
}

.header-container {
    padding-top: 3%;
}

.main-header {
    font-size: 27px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.total-followers {
    font-size: 15px;
    color: var(--font-color-secondary);
}

/**********Theme switch start**********/

.switch-text {
    font-weight: 700;
    color: var(--font-color-switch);
    padding-right: 10px;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
}
.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: hsl(146, 68%, 55%);
    background-image: linear-gradient(to left, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: var(--bg-color);
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}
  
input:checked + .slider {
    background-color: hsl(210, 78%, 56%);
    background-image: linear-gradient(to left, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  

/**********Theme switch end**********/

.main-container {
    display: grid;
    column-gap: 3%;
    margin: 5% 0;
    grid-template-columns: repeat(4, 1fr);
}

.status-container {
    border-radius: 6px;
    height: auto;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
}

.status-container.facebook {
    border-top: 5px solid hsl(208, 92%, 53%);
}

.status-container.twitter {
    border-top: 5px solid hsl(203, 89%, 53%);
    padding-top: 12px;
}

.gradient-wrap {
    position: relative;
    padding-top: 5px;
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-radius: 5px;
    height: 10px;
}

.status-container.instagram{
    background: var(--card-color);
    border-radius: 2px 2px 6px 6px;
}

.status-container.youtube {
    border-top:5px solid hsl(348, 97%, 39%);
}

.status-container:hover {
    background-color: var(--card-color-rover);
    cursor: pointer;
}


.username {
    color: var(--font-color-secondary);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-size: 12px;
}

.username > span{
    padding-left: 5%;
}

.number-followers {
    font-size: 55px;
    font-weight: 700;
}

.count-type {
    color: var(--font-color-secondary);
    letter-spacing: 6px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.statistics {
    padding-top: 10%;
    padding-bottom: 6%;
    font-size: 12px;
}

.sub-header {
    font-size: 24px;
}

.sub-container {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3%;
    row-gap: 10%;
}

.mini-status {
    border: 1px solid var(--card-color);
    border-radius: 8px;
    padding: 8%;
    padding-bottom: 6%;
    background-color: var(--card-color);
    display:flex;
    flex-direction: column;
}

.mini-status:hover {
    background-color: var(--card-color-rover);
    cursor: pointer;
}

.top-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
    justify-content: space-between;
    color: var(--font-color-secondary);
    font-weight: 700;
    font-size: 14px;
}

.lower-half {
    display: flex;
    padding-top: 10%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: 700;
    font-size: 32px;
}

.percentage {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 10px;
}

.attribution {
    margin-top: 10%;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: var(--font-color-link);
}

.up:before {
    content: "▴";
}

.down:before {
    content: "▾";
}

.up {
    color: hsl(163, 72%, 41%);
}

.down {
    color: hsl(356, 69%, 56%);
}